### Heroes Of Pymoli Data Analysis

* The range between 20 and 24 years old (20-24), has generated more profit than any other in the list. It is also the range with most players (365).

* With an active list of 576 players, the male players percentage is 84.03%, representing the first place in the list. Second place is for female players with a percentage of 14.06%. Male players are also the top spenders in the list.

* In average, not a single player has spend more than 5 dollars on items, and the top 5 players have spend under 20 dollars on items. Also 3 of the 5 most popular items (Oathbreaker, Nirvana and Fiery Glass Crusader), are also 3 of the 5 most profitable items

In [3]:
import pandas as pd
import numpy as np

In [4]:
file_path = "Resources/purchase_data.csv"
purchase_data = pd.read_csv(file_path)

## Player Count

* Total Number of Players

In [5]:
total_players = len(purchase_data["SN"].value_counts())
player_count = pd.DataFrame({"Total Players":[total_players]})
player_count.set_index("Total Players", inplace=True)
player_count

Empty DataFrame
Columns: []
Index: [576]

## Purchasing Analysis (Total)

* Number of Unique Items


* Average Purchase Price


* Total Number of Purchases


* Total Revenue

In [6]:
number_of_unique_items = len((purchase_data["Item ID"]).unique())
average_price = (purchase_data["Price"]).mean()
number_of_purchases = (purchase_data["Purchase ID"]).count()
total_revenue = (purchase_data["Price"]).sum()

table_df = pd.DataFrame({"Number of Unique Items":[number_of_unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [number_of_purchases], 
                           "Total Revenue": [total_revenue]})
table_df.set_index("Number of Unique Items", inplace=True)
table_df
table_df.style.format({'Average Price':"${:,.2f}",
                         'Total Revenue':'${:,.2f}'})

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [7]:
gender_stats = purchase_data.groupby("Gender")
total_gender = gender_stats.nunique()["SN"]
percentage_players = total_gender / total_players * 100
gender_demographics = pd.DataFrame({"Percentage of Players":percentage_players, "Total Counts":total_gender})
gender_demographics.index.name = None
gender_demographics.sort_values(["Total Counts"], ascending = False).style.format({"Percentage of Players":"{:.2f}"})


## Purchasing Analysis (Gender)

* The below each broken by gender

  * Purchase Count
  
  * Average Purchase Price
  
  * Total Purchase Value
  
  * Average Purchase Total per Person by Gender

In [8]:
purchase_count = gender_stats["Purchase ID"].count()
average_purchase_price = gender_stats["Price"].mean()
average_purchase_total = gender_stats["Price"].sum()
average_purchase_per_person = average_purchase_total / total_gender
gender_demographics = pd.DataFrame({"Purchase Count":purchase_count, "Average Purchase Price":average_purchase_price, "Average Purchase Value":average_purchase_total, "Average Purchase Total per Person":average_purchase_per_person})
gender_demographics.index.name = "Gender" 
gender_demographics.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

  * Purchase Count
  
  * Average Purchase Price
  
  * Total Purchase Value
  
  * Average Purchase Total per Person by Age Group

In [26]:
age_bins = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 44.99, 99]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40-44", ">45" ]
purchase_data["Age Group"]= pd.cut(purchase_data["Age"], age_bins, labels= group_names)
purchase_data
age_group = purchase_data.groupby("Age Group")
total_age = age_group["SN"].nunique()

purchase_count_age = age_group["Purchase ID"].count()
average_purchase_price_per_age = age_group["Price"].mean()
total_purchase_value = age_group["Price"].sum()
average_purchase_per_age = total_purchase_value / total_age
age_demographics = pd.DataFrame({"Purchase Count":purchase_count_age,"Average Purchase Price":average_purchase_price_per_age, "Total Purchase Value":total_purchase_value, "Average Purchase Total per Person":average_purchase_per_age})
age_demographics.index.name = "Age"
age_demographics.style.format({ "Age":"${:,.2f}", "Average Purchase Price":"${:,.2f}",
                                  "Total Purchase Value":"${:,.2f}", "Average Purchase Total per Person":"${:,.2f}"})

## Age Demographics by Ranges

* The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)

  * Total Count
  
  * Percent of Players by Age Ranges (with two decimals)

In [15]:
age_totals = purchase_data["Age Group"].value_counts()
age_percents = round(age_totals/total_players * 100, 2)

age_demo = pd.DataFrame({"Total Count": age_totals, "Percent of Players": age_percents})
age_demo = age_demo.sort_index()
format.style.format({"Percent of Players":"${:,.2f}"})
age_demo

       Total Count  Percent of Players
<10             23                3.99
10-14           28                4.86
15-19          136               23.61
20-24          365               63.37
25-29          101               17.53
30-34           73               12.67
35-39           41                7.12
40-44           12                2.08
>45              1                0.17

## Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

  * SN
  
  * Purchase Count
  
  * Average Purchase Price
  
  * Total Purchase Value

In [11]:
spender_stats = purchase_data.groupby("SN")
purchase_count_spender = spender_stats["Purchase ID"].count()
avg_purchase_price_spender = spender_stats["Price"].mean()
purchase_total_spender = spender_stats["Price"].sum()
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_spender,
                             "Average Purchase Price": avg_purchase_price_spender,
                             "Total Purchase Value":purchase_total_spender})
table_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head()
table_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})

## Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):

  * Item ID
  
  * Item Name
  
  * Purchase Count
  
  * Item Price
  
  * Total Purchase Value

In [12]:
items = purchase_data[["Item ID", "Item Name", "Price"]]
item_stats = items.groupby(["Item ID","Item Name"])
purchase_count_item = item_stats["Price"].count()
purchase_value = (item_stats["Price"].sum()) 
item_price = purchase_value/purchase_count_item
most_popular_items = pd.DataFrame({"Purchase Count": purchase_count_item, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":purchase_value})
format = most_popular_items.sort_values(["Purchase Count"], ascending=False).head()
format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Identify the 5 most profitable items by total purchase value, the list (in a table):

  * Item ID
  
  * Item Name
  
  * Purchase Count
  
  * Item Price
  
  * Total Purchase Value

In [13]:
format = most_popular_items.sort_values(["Total Purchase Value"],
                                                   ascending=False).head()
format.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})